$light-blue: rgb(179, 99, 38);
$light-gray: #7e878c;
$dark-gray: #3f3f3f;
$white: #ffff;


$font-heading: 'Baloo 2', cursive;
$fsize: 26px;





@mixin flexing($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}






body {
  background: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  ::-webkit-scrollbar {
    display: none;
  }

  ;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;

  header {
    background-color: cyan;
    color: black;
    padding: 7px 20px;
    @include flexing(row, space-between, center);

    div.title {
      @include flexing(row, flex-start, center);
      img{
        border: 1px solid black;
      }
      .tick{
        width: 30px;
        height: 30px;
        margin-left: 3px;
        border: none;
      }
      h1 {
        font-family: $font-heading;
        font-size: $fsize;
        margin-left: 10px;
        
      }
    }
    #fullscreenButton{
      background: rgb(0, 0, 0);
      padding-top: 6px;
      padding-bottom: 6px;
      font-weight: 600;
      color: cyan;
      padding-right: 6px;
      padding-left: 6px;
      border-radius: 5px;
      display: block;
    }
    .Clear {
      background: rgb(0, 0, 0);
      padding-top: 6px;
      padding-bottom: 6px;
      font-weight: 600;
      color: cyan;
      padding-right: 6px;
      padding-left: 6px;
      border-radius: 5px;
      border: none;
      display: block;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      display: none;
      cursor: pointer;
    }

    img {
      border-radius: 50%;
    }
    i{
      font-size: large;
    }
  }

  div.container {
    background-color: black;
    padding: 20px;
    height: 93%;
    border: 3px solid cyan;
    @include flexing(row, flex-start, stretch);


    div.users-window {
      // width: 350px;
      color: rgba(255, 255, 255, 0.963);
      background-color: rgba(60, 59, 60, 0.852);
      padding: 15px 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      font-weight: 200;
      margin-right: 30px;


      .users-head {
        @include flexing(row, space-between, center);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        background: lightgrey;
        border-radius: 5px;
        color: black;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;

        h4 {
          background-color: black;
          padding: 0 8px;
          border-radius: 50px;
          color: white;
        }

        h3 {
          margin-right: 10%;
        }
        
      }

      .users-list p {
        font-size: larger;
        font-weight: 700;
        margin-bottom: 8px;
        color: rgba(0, 255, 255, 0.827);
      }
    }

    .chat-window {
      width: 100%;
      border-radius: 15px;
      height: 100%;
      background-color: rgb(255 255 255 / 57%);

      .chats {
        height: 72dvh;
        padding: 20px;
        overflow-y: auto;

        .user-join {
          font-size: 0.9rem;
          color: rgba(64, 72, 70, 0.733);
          font-weight: 600px;
          background-color: rgba(255, 255, 255, 0.692);
          border-radius: 5px;
          width: max-content;
          padding: 7px 20px;
          margin: 0 auto;
          margin-bottom: 15px;
        }

        .message {
          color: rgb(255, 255, 255);
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.347);
          padding: 5px 15px;
          max-width: fit-content;
          margin-bottom: 15px;
          border-radius: 10px;

          p {
            font-size: 16px;
          }
        }

        .outgoing {
          margin-left: auto;
          color: white;
          /* background-color: rgb(44, 218, 46); */
          background: linear-gradient(135deg, #d7b7ff, #4930bc);
          border-radius: 10px;
          text-align: right;
        }

      }

      .user-input {
        @include flexing(row, space-between, stretch);
        padding: 20px;

        input {
          font-size: 16px;
          background-color: white;
          padding: 10px 20px;
          outline: none;
          border: none;
          width: 100%;
          border-radius: 50px 0 0 50px;
        }

        button {
          font-size: 16px;
          font-weight: 600;
          padding: 5px 15px;
          border: none;
          outline: none;
          background: limegreen;
          border-radius: 0 15px 15px 0;
          color: #000000;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    width: 95%;

    header {
      .lod{
        margin-right: -15px;
      }
      button {
        display: block;
      }
    }

    .container {
      position: relative;

      .users-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        height: max-content;
        z-index: 11;
        box-shadow: 0 15px 20px -20px black;
        padding-bottom: 0;
        display: none;
      }

      .chat-window {
        .chats {
          h5{
            color: #000;
          }
          .message {
            max-width: 300px;
          }
        }
      }
    }
  }
}